<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en-us">
  <base href="{globals.baseUrl}" />

  <!-- Meta tags -->
  <title>{head.title} | {globals.appName}</title>
  <meta name="description" content="{head.description}">

  <!-- Static Assets -->
  <link type="image/x-icon" rel="icon" href="public/favicon.ico">
  <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css">
</head>

<body class="{body.class}">
  <!-- wrapper div-->
  <div class="wrapper">
    <!-- header-->
    <div class="header">
      <!-- logo -->
      <a class="logo" href="">
        <img src="public/logo.png" alt="Logo" />
      </a>
      <!-- Navigation -->
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/accounts/create" class="loggedOut">Signup</a></li>
        <li><a href="/session/create" class="loggedOut">Login</a></li>
        <li><a href="/checks/all" class="loggedIn">Dashboard</a></li>
        <li><a href="/accounts/edit" class="loggedIn">Account Settings</a></li>
        <li><a href="#" class="loggedIn">Logout</a></li>
      </ul>
    </div>

    <!--content div-->
    <div class="content">